<?xml version="1.0" encoding="UTF-8"?>
<!-- SI J’AVAIS UN SEUL SPRINGBOOTXMLAPPLICATION
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/beans/spring-context.xsd"
    >

    <context:component-scan base-package="com.dgmf.beans.basics" />
-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="xmlJdbcConnection" class="com.dgmf.xmlconfig.XmlJdbcConnection"/>

    <bean id="xmlPersonDAO" class="com.dgmf.xmlconfig.XmlPersonDAO">
        <property name="xmlJdbcConnection" ref="xmlJdbcConnection" />
    </bean>

</beans>